@font-face{font-family: noticia; src: url(noticiatext-regular.ttf);}
@font-face{font-family:future; src: url(CallunaSansRegular-webfont.ttf);}
html{background-color:#eae5e5;color:#4d4d4d;}
body{font-family:future;font-size:16px;margin:0;}
h1{font-family:noticia;font-size:45px;font-weight:bold;line-height:95%;}
h2{font-family:noticia;font-size:75px;font-weight:bold;line-height:20%;}
body,html,iframe { width: 100%; height: 100%; margin: 0; border: 0; }

#mainframe.normal
{
    opacity: 1.0;
}
#mainframe.faded
{
    opacity: 0.0;
}
#mainframe
{
        /* Firefox */
        -moz-transition-property: opacity;
        -moz-transition-duration: 1s;
        /* WebKit */
        -webkit-transition-property: opacity;
        -webkit-transition-duration: 1s;
        /* Standard */
        transition-property: opacity;
        transition-duration: 1s;
}

#header {
    float:left;
    text-align:left;
    padding-left:100px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding:0;
    padding-bottom: 20px;
    overflow: hidden;
    display:inline-block;
    /*position: fixed;*/
    top: 0;
    width: 100%;
}

li {
    float:left;

}
li a {
    word-spacing:2em;
    width:auto;
    /*float:right;*/
    color:#8b8b8b;
    font-family:'Noticia Text',serif;
    font-size:18px;
    text-align:center;
    padding-right:100px; 
    padding-top:50px;

}
#nav a:link{color:#8b8b8b;text-decoration:none;}
#nav a:visited{color:#8b8b8b;text-decoration:none;}
#nav a:hover{color:#61d0d4;text-decoration:none;}
#section {
    padding-top:20px;
    width:550px;
    float:right;
    clear:right;
    padding-right:100px; 

}
#footer {
    background-color:#61d0d4;
    height:100px;
    color:white;
    clear:both;
    text-align:center;
    padding-top:15px; 
    padding-bottom:15px; 
    /*justify-content: space-between;*/
}
